<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/contact.css">

<div class="row row-nav">
    <ul class="nav navbar-nav">
        <li class="border"><a href="/about">My Story <i class="fa fa-user" aria-hidden="true"></i></a></li>
        <li class="border"><a href="/projects">My Work <i class="fa fa-terminal" aria-hidden="true"></i></a></li>
        <li><a href="/contact">My Info <i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    </ul>
</div>

<div class="row-container">


    <div class="row">
      <div id="flash" class="col-md-4 col-sm-4 white">
        <div class="thumbnail">
          <img src="/images/p7.jpg" alt="">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 white">
        <div class="thumbnail">
          <img src="/images/p6.jpg" alt="">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 white">
        <h2>Contact</h2>
        <p>
          <a href="mailto:olson.lisa94@gmail.com"><i id="gmail" class="fa fa-envelope"></i></a>
          <a href="https://www.linkedin.com/in/carolynlisaolson/" target="_blank"><i id="linkedin" class="fa fa-linkedin"></i></a>
          <a href="https://www.linkedin.com/in/carolynlisaolson/" target="_blank"><i id="angellist" class="fa fa-angellist"></i></a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 white">
        <h2>Media</h2>
        <p>
          <a href="https://500px.com/olsonlisa94" target="_blank"><i id="five" class="fa fa-500px"></i></a>
          <a href="https://www.instagram.com/eunoia_fidel/" target="_blank"><i id="insta" class="fa fa-instagram"></i></a>
          <a href="https://soundcloud.com/eunoia-fidel" target="_blank"><i id="soundcloud" class="fa fa-soundcloud"></i></a>
        </p>

      </div>
      <div class="col-md-4 col-sm-4 white">
        <div class="thumbnail">
          <img src="/images/p4.jpg" alt="">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 white">
        <div class="thumbnail">
          <img src="/images/p3.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 white">
        <div class="thumbnail">
          <img src="/images/p5.jpg" alt="">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 white">
          <h2>Social</h2>
        <p>
          <a href="https://www.pinterest.com/eunoia_fidel/"><i id="pinterest" class="fa fa-pinterest"></i></a>
          <a href="https://www.facebook.com/lisa.olson.92" target="_blank"><i id="facebook" class="fa fa-facebook"></i></a>
          <a href="https://github.com/lisaolson" target="_blank"><i id="github" class="fa fa-github"></i></a>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 white">
        <div class="thumbnail">
          <img src="/images/p2.jpg" alt="">
        </div>
      </div>
    </div>

</div>

<%include partials/footer %>

<style media="screen">
  footer p {
    padding: 2%;
    margin: 0 40%;
    text-align: center;
    width: 20%;
  }
</style>
