<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/projects.css">

<div class="col-md-12 col-sm-12">
  <div class="row row-nav">
      <ul class="nav navbar-nav">
          <li class="border"><a href="/about">My Story <i class="fa fa-user" aria-hidden="true"></i></a></li>
          <li class="border"><a href="/projects">My Work <i class="fa fa-terminal" aria-hidden="true"></i></a></li>
          <li><a href="/contact">My Info <i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      </ul>
  </div>
</div>
<br><br><br><br>

<div class="projects">

  <div class="row">
        <h1>Latte-Darling</h1>
    <div class="col-md-3 col-sm-12 text-blue">
      <p>
        Personal project made for the love & appreciation of latte art and the beautiful cafes around the world. Created with the intent of catering to users who need a platform made solely for the experience and culture of coffee. Full-stack application built with Mongo, Node/Express and EJS that utilizes Google Maps API, Heroku, HTML5 animations and polygons, UI interface Responsive design.
      </p>
      <hr>
        <p>MAY 2017</p>
    </div>
    <div class="col-md-1 col-sm-2">
      <center><a target="_blank" href="https://latte-darling.herokuapp.com">See it Live </a><br><i class="fa fa-sun-o"></i>
      <hr>
      <center><a target="_blank" href="https://github.com/lisaolson/latte-darling/tree/dev-prod">Github </a> <br><i class="fa fa-terminal"></i>
    </div>

        <div class="col-md-8 col-sm-10 two">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/LD6.png" alt="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/LD3.png" alt="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/LD2.png" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/LD4.png" alt="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/LD5.png" alt="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/LD7.png" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>

<hr>

      <div class="row">
        <h1>Ede-Men</h1>
        <div class="col-md-8 col-sm-10 two">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/edemen.png" alt="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/edemen2.png" alt="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/edemen3.png" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/edemen4.png" alt="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/edemen5.png" alt="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                  <img src="/images/edemen6.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 six">
          <center><a target="_blank" href="https://ede-men.herokuapp.com">See it Live </a><br><i class="fa fa-sun-o"></i>
          <hr>
          <center><a target="_blank" href="https://github.com/lisaolson/rails-ngo-app">Github </a> <br><i class="fa fa-terminal"></i>
        </div>
          <div class="col-md-3 col-sm-12 text-purple">
            <p>
              Full stack app targeted towards solving the problem of donations to large ngo’s not being distributed to local communities. Built in a four-person team where I designed the user experience flow of the site and the front-end partials. Incorporates ruby on rails, foundation, PayPal, Twitter, Google anaylitics, lazy high charts, and chartkick.
            </p>
            <hr>
            <p>NOVEMBER 2016</p>
          </div>
      </div>

<hr>

    <div class="row">
      <h1>Wander</h1>
      <div class="col-md-3 col-sm-12 text-gray">
        <p>
          Responsive social media app created in a four-person team, targeted towards well-traveled users who can share their experiences abroad about particular cities. I focused on the design and flow of the app as well as building out the back-end models, controllers, data associations, and front-end partials. Built with Ruby on Rails, PostgreSQL, JavaScript, Haml, SASS and Foundations.
        </p>
        <hr>
        <p>NOVEMBER 2016</p>
      </div>
      <div class="col-md-1 col-sm-2">
        <center><a target="_blank" href="https://wanderwithme.herokuapp.com">See it Live </a><br><i class="fa fa-sun-o"></i>
        <hr>
        <center><a target="_blank" href="https://github.com/lisaolson/project-vagabond">Github </a> <br><i class="fa fa-terminal"></i>
      </div>

          <div class="col-md-8 col-sm-10 two">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <img src="/images/W1.png" alt="">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <img src="/images/W2.png" alt="">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <img src="/images/W3.png" alt="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <img src="/images/W4.png" alt="">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <img src="/images/W5.png" alt="">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <img src="/images/W6.png" alt="">
                </div>
              </div>
            </div>
          </div>
    </div>

<hr>

<center><h3>OTHER</h3>

    <div class="row other_row">
      <h1>RGB Game</h1>
      <div class="col-md-5 col-sm-5">
        <div  id="other" class="thumbnail">
          <img src="/images/rgb.png" alt="">
        </div>
      </div>
      <div class="col-md-2 col-sm-2 six">
        <center><a target="_blank" href="https://lisaolson.github.io/rgb-game/">See it Live </a><br><i class="fa fa-sun-o"></i>
        <hr>
        <center><a target="_blank" href="https://github.com/lisaolson/rgb-game">Github </a> <br><i class="fa fa-terminal"></i>
      </div>
      <div class="col-md-5 col-sm-5 words">
          Fun color guessing game built purely in HTML, CSS and JavaScript.
        <hr>
        <p>JANUARY 2017</p>
      </div>
      </div>

</div>

<%include partials/footer %>

<style media="screen">
  footer p {
    padding: 2%;
    margin: 5% 40% 0 40%;
    text-align: center;
    width: 20%;
    opacity: .9;
  }
  p {
    padding: 0;
    margin: 2%;
  }
</style>
