*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: #F7F4F2;
}

p, 
h1, 
h2 {
    font-family: 'Thasadith', sans-serif;
}


@media all and (min-width: 1140px) {
    body {
      
    }
  }
  
  @media all and (max-width: 1139px) and (min-width: 800px) {
    body {
      
    }
  }
  
  @media all and (max-width: 799px) {
    body {
      
    }
  }
  