*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: white;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: scroll;
}

p, 
h1, 
h2 {
    font-family: 'Thasadith', sans-serif;
}
  