.contact {
    display: flex;
}
.contact i {
    color: #BF8989;
    font-size: 1.5rem;
    padding: 2%;
}

.contact-text {
    position: absolute;
    z-index: 50;
    margin: 15%;
    padding-right: 10%;
}

.contact-text p {
    font-size: 20px;
}

.ptag {
    font-family: 'Thasadith', sans-serif;
}

i.fa-instagram {
    font-size: 1.8rem;
}

.contact-nottext {
    margin-left: 5%;
}

.process img {
    height: 40em;
    position: absolute;
    right: 0;
}

.menu {
    height: 100%;
    width: 30%;
}
