.contact {
    width: 50%;
    margin: 10% 15%;
}

.contact i {
    color: #BF8989;
    font-size: 1.5rem;
    padding: 2%;
}

.ptag {
    font-family: 'Thasadith', sans-serif;
    /* padding: 2%; */
}

i.fa-instagram {
    font-size: 1.8rem;
}

.contact-nottext {
    margin-left: 5%;
}

.process img {
    background: cover;
    width: 30%;
    position: absolute;
    right: -5rem;
    height: 40em;
    margin-right: 20%;
    top: 0;
}

@media (max-width: 1139px) and (min-width: 800px) {
    .contact-text {
        font-size: 2rem;
    }

    .contact-nottext {
        font-size: 2rem;
        margin: 15%;
    }

    .process img {
        transform: rotate(90deg);
        margin-left: 50%;
    }
  }
  
  @media (max-width: 799px) {
    .contact-text {
        font-size: 2rem;
    }

    .contact-nottext {
        font-size: 2rem;
        margin: 15%;
    }
  }
  