.contact {
    display: flex;
}

/* .icons a {
    font-size: 25px;
    color: #F7F4F2;
    padding: 1rem;
} */

.contact-env,
.fa-instagram {
    background-image: linear-gradient(to top right, #FF01FB  0%, #00DCFF 100%);
    border-radius: 5px;
    color: white;
    padding: 3%;
    margin: 5%;
    font-size: 1.5rem;
}

.contact-text {
    position: absolute;
    z-index: 50;
    margin: 15%;
    padding-right: 10%;
}

.contact-text p {
    font-size: 20px;
}

.ptag {
    font-family: 'Thasadith', sans-serif;
}

i.fa-instagram {
    font-size: 1.8rem;
}

.contact-nottext {
    margin-left: 5%;
}

.process img {
    display: none;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

@media (max-width: 699px) {
    .ptag {
        display: hidden;
    }
}
