footer {
    border-top: 1px solid #989fa3;
    position: fixed;
    bottom: 0;
    background-color: #2B2B2B;
    width: 100%;
    z-index: 10;
}

footer p {
    font-family: 'Thasadith', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    padding: 2%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    letter-spacing: 5px;
}
a.icon_bottom {
    display: block;
    color: #F7F4F2;
}
div#icons.row {
    margin: 0 40%;
	padding-top: 5%;
}
div.col-md-3.icon_row {
    padding: 0;
    text-align: center;
}
a.icon_bottom {
    font-size: 25px;
    color: #F7F4F2;
}

@media screen and (max-width: 420px) {  
    footer p {
        font-size: 10px;
        padding: 4%;
    }
}

