/* Header  */

.opener-section {
    height: 32rem;
    display: flex;
}

.opener {
    position: absolute;
}

.opener-paragraph {
    font-family: 'Poiret One';
    position: absolute;
    width: 30rem;
    right: 5rem;
    top: 10rem;
}

.blueyellow {
    width: 40%;
    border: 2px solid #595959;
    padding: 2%;
    margin: 10%;
}

.name {
    transform: rotate(270deg);
    font-family: 'Thasadith', sans-serif;
    letter-spacing: 27px;
    color: #595959;
    text-transform: uppercase;
    font-size: 2.5rem; 
    margin: 6.25rem 0;
}

.engcre {
    letter-spacing: .5em;
    position: absolute;
    top: 10.6rem;
    right: 5.8em;
}

.cre {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
}

/* See My Work */

.mywork {
    position: absolute;
    top: 70%;
    right: 3%;
    border: 2px solid #a5c6d2;
    padding: 1%;
    border-radius: 1%;
}

.mywork i {
    font-size: 1em;
}

.mywork a {
    text-decoration: none;
    color: #a5c6d2;
    font-size: 1.5em;
    font-family: 'Thasadith', sans-serif;
}

.mywork:hover {
    background: #a5c6d2;
}
.mywork:hover a {
    transition: all .8s;
    color: #F7F7F7
}


@media (min-width: 1140px) {
    .blueyellow {
        width: 40%;
    }
    .mywork {
        top: 70%;
        right: 3%;
    }
  }
  
  @media (max-width: 1139px) and (min-width: 901px) {
    .opener-paragraph {
        top: 12%;
        right: 2%;
    }
    .blueyellow {
        width: 75%;
    }

    .name {
        font-size: 15px;
        color: #F7F7F7;
    }
    .engcre {
        top: 12.5rem;
        right: 8em;
        font-size: 14px;
        color: #F7F7F7;
    }

    .cre {
        color: #F7F7F7;
    }

    .mywork {
        top: 70%;
        right: 10%;
    }

    .mywork a {
        color: #6E9CB1;
    }
  }

  @media (max-width: 900px) and (min-width: 601px) {
    .opener-paragraph {
        top: 9%;
        right: 0;
    }
    .blueyellow {
        width: 75%;
    }

    .name {
        font-size: 15px;
        color: #F7F7F7;
        position: absolute;
        top: 4.5rem;
        right: 1.2rem;
    }
    .engcre {
        top: 12.5rem;
        right: 8em;
        font-size: 11px;
        color: #F7F7F7;
    }

    .cre {
        color: #F7F7F7;
    }

    .mywork {
        top: 50%;
        right: 10%;
    }

    .mywork a {
        color: #6E9CB1;
    }
  }

  @media (max-width: 600px) and (min-width: 376px) {
    .opener-paragraph {
        top: 0;
        right: 3rem;
    }
    .blueyellow {
        margin: 15% 10%;
        width: 75%;
    }

    .name {
        font-size: 10px;
        color: #F7F7F7;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        height: 100%;
        top: .3rem;
        position: absolute;
        left: -9%;
    }
    .engcre {
        top: 15.5rem;
        right: 1rem;
        font-size: 8px;
        color: #F7F7F7;
    }

    .cre {
        color: #F7F7F7;
    }

    .mywork {
        top: 50%;
        right: 3%;
    }

    .mywork a {
        color: #6E9CB1;
    }
    
  }

  @media (max-width: 375px) {
    .opener-paragraph {
        top: 0;
        right: 3rem;
    }
    .blueyellow {
        margin: 15% 10%;
        width: 75%;
    }

    .name {
        font-size: 10px;
        color: #F7F7F7;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        height: 100%;
        top: -1rem;
        position: absolute;
    }
    .engcre {
        top: 14rem;
        right: 0;
        font-size: 8px;
        color: #F7F7F7;
    }

    .cre {
        color: #F7F7F7;
    }

    .mywork {
        top: 50%;
        right: 3%;
    }

    .mywork a {
        color: #6E9CB1;
    }
    
  }