/* Header  */

.opener-section {
    height: 30rem;
}

.opener-paragraph {
    font-family: 'Poiret One';
    position: absolute;
    width: 30rem;
    right: 5rem;
    top: 10rem;
}

.blueyellow {
    position: absolute;
    width: 50rem;
    top: 6em;
    opacity: .9;
    left: 6rem;
    border: 2px solid #595959;
    padding: 2%;
}

.line1 {
    position: absolute;
    width: .2em;
    height: 40em;
    background: #595959;
    z-index: 10;
    left: 16em;
    top: 0;
}

.line2 {
    position: absolute;
    width: 25%;
    height: .2em;
    background: #595959;
    z-index: 9;
    top: 30em;
    left: 0;
}

.name {
    transform: rotate(270deg);
    font-family: 'Thasadith', sans-serif;
    letter-spacing: 20px;
    color: #595959;
    text-transform: uppercase;
    font-size: 2.5rem; 
    margin: 6.25rem 0;
}

.engcre {
    letter-spacing: .5em;
    position: absolute;
    top: 10rem;
    right: 5.8em;
}

.cre {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    color: #C7E2DA;
}

/* About Me Section */

.about {
    position: absolute;
    width: 100%;
    top: 20rem;
}

.aboutme {
    position: relative;
    margin: 0 15%;
}

.aboutme h2 {
    color: #a5c6d2;
    font-size: 4rem;
    text-align: left;
}

.aboutme p {
    /* position: absolute; */
    z-index: 1;
    color: #2B2B2B;
    opacity: 1;
    width: 50%;
    padding: 5% 0 0 0;
}

.myface {
    width: 48%;
    position: absolute;
    right: 3rem;
    opacity: .6;
    padding: 4% 0 4% 0;
    z-index: 1;
    top: 4rem;
}

.line3 {
    position: absolute;
    width: .2em;
    height: 15em;
    background: #6E9CB1;
    z-index: 10;
    right: 10em;
    top: 0;
}

.line4 {
    position: absolute;
    width: 30em;
    height: .2em;
    background: #6E9CB1;
    z-index: 9;
    top: 10em;
    right: -10rem;
}

/* See My Work */

.pillars {
    height: 5rem;
    width: 100%;
}
.mywork {
    position: absolute;
    top: 32rem;
    right: 5rem;
    border: 2px solid #ceebe2;
    padding: 1%;
    border-radius: 1%;
}

.mywork i{
    font-size: 1em;
}

.mywork a {
    text-decoration: none;
    color: #595959;
    font-size: 1.5em;
    font-family: 'Thasadith', sans-serif;
}

.mywork:hover {
    background: #ceebe2;
}
.mywork:hover a{
    color: #595959;
}

.ux {
    color: #BF8989;
    font-size: 1.3em;
}

.u {
    color: #a5c6d2;
    font-size: 1.1em;
}

.process-background {
    height: 90vh;
    background: #2B2B2B;
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    margin: 0 auto;
}


@media (min-width: 1140px) {
    body {
      
    }
  }
  
  @media (max-width: 1139px) and (min-width: 800px) {
    .line4 {
        width: 20em;
    }

    .line3 {
        right: 5em;
    }

    .opener-section {
        color: #F7F4F2;
    }
    .opener-paragraph {
        right: 6em;
    }
    .name {
        color: #595959;
    }
    .cre {
        color: #595959;
    }
    .myface {
        top: 25rem;
        margin: 0 auto;
        width: 80%;
        left: 4em;
    }
    .process-background {
        height: 130vh;
    }
    .about p {
        font-size: 2rem;
    }
    .process-background {
        height: 70vh;
    }
  }

  @media (max-width: 799px) {
    .line4 {
        width: 20em;
    }

    .line3 {
        right: 5em;
    }

    .opener-section {
        color: #F7F4F2;
    }
    .opener-paragraph {
        right: 6em;
    }
    .eng {
        color: #595959;
    }
    .name {
        color: #595959;
    }
    .cre {
        color: #595959;
    }
    .myface {
        top: 25rem;
        margin-left: 10%;
        width: 100%;
        left: .1em;
    }
    .about p {
        font-size: 2rem;
    }
    .process-background {
        height: 70vh;
    }
    
  }

