.icons {
    text-align: center;
    margin-top: 3em;
}

.icons a {
    font-size: 2rem;
    color: #F7F4F2;
    padding: 1em;
}

.icons a:hover {
    color: #ceebe2;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.icons i:hover {
    transform: rotate(25deg);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}