.icons {
    text-align: center;
    margin-top: 1.5rem;
}

.icons a {
    font-size: 25px;
    color: #F7F4F2;
    padding: 1rem;
}

.icons a:hover {
    color: #ceebe2;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.icons i:hover {
    transform: rotate(25deg);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

@media screen and (max-width: 420px) {
    .icons a {
        font-size: 14px;
        color: #F7F4F2;
        padding: 1rem;
    }
}
/* 
font-size: 3rem;
    color: #F7F4F2;
    padding: 2rem; */