.menu {
  position: absolute;
  left: 0;
  padding: 3%;
  position: fixed;
  z-index: 12;
  height: 10vh;
  color: #2b2b2b;
  top: 0;
  padding: 5%;
}

.menu a {
  padding: 1%;
  border: 4px solid transparent;
  border-radius: 3px;
  color: #2b2b2b;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 4% 5% 0 0;
  padding: 5px;
  font-family: 'Poiret One';
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .menu a {
    font-size: 1rem;
  }
}

.menu a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: gray;
  transition: .3s;
  color: #2b2b2b;
  /* border: 4px solid;
  border-radius: 5px;
  border-image: linear-gradient(to top right, #FF01FB 0%, #00DCFF 100%);
  border-image-slice: 1;
  font-weight: bolder;
  text-decoration: none; */
}