div.scrollmenu {
  position: inherit;
  margin-top: 15%;
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 5%;
}

p {
  overflow: scroll;
  color: #545f66;
  font-family: 'Thasadith', sans-serif;
  opacity: .9;
}
h1.high_low_titles {
    padding: 3% 15%;
}
#name {
    font-size: 21px;
}
.story {
  padding: 0;
}
.col-md-7 {
  padding: 0;
}
.element {
    display: inline-block;
    background-color: #312d2d;
    color: white;
    width: 30%;
    opacity: .9;
    height: 300px;
    text-align: justify;
    shape-inside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    shape-padding: 20px;
    animation-name: move;
    transition: all 5s ease;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  .element:hover {
    transition: all 1s ease;
    opacity: 1;
  }

.info_btn {
    background: white;
    border: none;
    color: #353535;
    border: 1px solid #353535;
    width: 85%;
    padding: 2.5%;
    font-family: 'Thasadith', sans-serif;
    border-top: none;
    font-variant: unicase;
    letter-spacing: 1.5px;
}

.info_btn:hover {
    color: white;
    background: #353535;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    cursor: pointer;
}

.shortstory {
  border-top: 3px solid #EFD7D7;
  width: 100%;
}
.story h1, .shortstory h1 {
  letter-spacing: 5px;
}
.below {
  padding-bottom: 2%;
}
.story p, h1{
  font-family: 'Thasadith', sans-serif;
  color: #5a656b;
  padding: 0 15%;
  text-align: center;
}
.story p {
  padding: 1% 10%;
  text-align: right;
}
.story h1 {
  padding: 2% 10%;
}
.shortstory p, h1 {
  font-family: 'Thasadith', sans-serif;
  color: #5a656b;
  text-align: left;
}
.shortstory h1 {
  padding-left: 30%;
  padding-left: 46%;
}
div.thumbnail img {
  height: 250px;
  margin: 0;
  width: 100%;
}
.height {
  height: 140px;
}
.height p {
  color: black;
  padding: 20% 30%;
  letter-spacing: 2px;
  text-align: center;
}
.skills {
  padding: 0 5% 0 0;
  margin-top: 8%;
}
.bl2 {
  background: #EFD7D7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #2b2b2b;
    margin: 3% auto;
    padding: 20px;
    border: 10px solid #F7F4F2;
    width: 40%;
    font-family: 'Thasadith', sans-serif;
    border-radius: 1%;
}

.modal-content p, h2, h3, li{
    letter-spacing: 1px;
    color: #F7F4F2;
}

.modal-content p, h2, h3 {
    text-align: center;
}

.modal-content p {
    font-family: 'Dawning of a new day';
    font-size: 1.3rem;
}

.modal-content h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.modal-content li {
    margin-left: 1em;
    padding-bottom: 2%;
}

.modal-content a {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.linkz {
    font-size: 30px;
    color: #ceebe2;
    text-align: center;
    margin-top: 2%;
}
.linkz:hover {
    color: #F7F4F2;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
.divCircles {
    padding: 0;
}

span.title {
  position: absolute;
  top: 3em;
  color: white;
  font-size: 5em;
  z-index: 5000;
  left: .3em;
  transform: rotate(16deg);
  font-family: 'Thasadith', sans-serif;
  letter-spacing: 2.5px;
}

/* @media (min-width: 1140px) {
  .element {
      width: 70%;
      height: 40em;
  }

  div.thumbnail img {
      height: 35em;
      width: 100%;
  }
} */

@media (max-width: 1007px) and (min-width: 641px) {
  .element {
      width: 50%;
      height: 30em;
  }

  div.thumbnail img {
      height: 25em;
      width: 100%;
  }
}

@media (max-width: 640px) {
  .element {
      width: 70%;
      height: 40em;
  }

  div.thumbnail img {
      height: 35em;
      width: 100%;
  }
}

/* @media screen and (max-width: 640px) {
  .element {
      width: 70%;
      height: 40em;
  }

  div.thumbnail img {
      height: 35em;
      width: 100%;
  }
} */