/* i {
  padding: 0 12%;
  animation: 5s infinite alternate;
  animation-name: spin;
}
*/
i:hover {
  animation-play-state: paused;
  color: black;
}

/* @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
*/
div.scrollmenu {
  position: inherit;
  margin-top: 4%;
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
}
p {
  padding-left: 2%;
  display: inline-grid;
  overflow: scroll;
  color: white;
  font-family: 'Poiret One';
  opacity: .9;
}
.story {
  padding: 0;
}
.col-md-7 {
  padding: 0;
}
.element {
    display: inline-block;
    background-color: #ffffff;
    color: white;
    width: 30%;
    opacity: .9;
    height: 300px;
    text-align: justify;
    shape-inside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    shape-padding: 20px;
    animation: 5s infinite alternate;
    animation-name: move;
    transition: all 5s ease;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  .element:hover {
/*    animation-play-state: paused; */
    transition: all 5s ease;
/*    shape-inside: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
*/
  }
.shortstory {
  border-top: 3px solid #EFD7D7;
  width: 100%;
}
.story h1, .shortstory h1 {
  letter-spacing: 5px;
}
.below {
  padding-bottom: 2%;
}
.story p, h1{
  font-family: 'Poiret One';
  color: #5a656b;
  padding: 0 15%;
  text-align: center;
}
.story p {
  padding: 1% 10%;
  text-align: right;
}
.story h1 {
  padding: 2% 10%;
}
.shortstory p, h1 {
  font-family: 'Poiret One';
  color: #5a656b;
  text-align: left;
}
.shortstory p {
  padding-left: 35%;
}
.shortstory h1 {
  padding-left: 30%;
  padding-left: 46%;
}
div.thumbnail img {
  height: 250px;
  margin: 0;
  width: 100%;
}
.height {
  height: 140px;
}
.height p {
  color: black;
  padding: 20% 30%;
  letter-spacing: 2px;
  text-align: center;
}
.skills {
  padding: 0 5% 0 0;
  margin-top: 8%;
}
.bl2 {
  background: #EFD7D7;
}

footer p {
  font-family: 'Poiret One';
  color: #545f66;
  font-size: 18px;
  padding: 2%;
  border-top: 2px solid #545f66;
}
