.white {
  background: white;
  padding: 0;
}

.row-container {
  margin: 2% 20%;
}

h2 {
  font-family: 'Poiret One';
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}

i {
  padding: 0 12%;
  opacity: .8;
}
i:hover {
  animation-play-state: paused;
  color: black;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

p {
  font-size: 25px;
  padding: 0 30%;
}

#gmail {
  color: #dd4b39;
}
#linkedin {
  color: #007bb5;
}
#five {
  color: #808080;
}
#insta {
  color: #e95950;
}
#angellist {
  color: #000;
  margin-left: 20%;
}
#github {
  color: #24292e;
  margin-left: 20%;
}
#pinterest {
  color: #bd081c;
}
#facebook {
  color: #3b5998;
}
#soundcloud {
  color: #ff6400;
  margin-left: 20%;
}

i {
  padding: 0 12%;
  opacity: .6;
}
i:hover {
  animation-play-state: paused;
  color: black;
  opacity: .9;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#flash {
  -vendor-animation: flash;
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}
div.thumbnail {
  border: 2px solid white;
}
