/*@media screen and (min-width: 320px) {
    .sociallinks {
        margin-top: 2em;
        color: white;
    }

    #twitter {
        background: #1DA1F2;
        height: 250px;
    }

    #medium {
        background: #34e79a;
        height: 250px;
    }

    #in {
        background: #04527e;
        height: 250px;
    }

    #resume {
        background: #f5e2dc;
        height: 250px;
    }

    #dribble {
        background: #963326;
        height: 250px;
    }

    #githubb {
        background: #24292e;
        height: 250px;
    }
}
*/
.contact {
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.socially {
    background: white;
}

#twitter:hover {
    background: #1DA1F2;
    height: 500px;
}

#medium:hover {
    background: #34e79a;
    height: 500px;
}

#in:hover {
    background: #04527e;
    height: 500px;
}

#resume:hover {
    background: #f5e2dc;
    height: 500px;
}

#dribble:hover {
    background: #963326;
    height: 500px;
}

#githubb:hover {
    background: #24292e;
    height: 500px;
}

.sociallinks {
    font-size: 50px;
    color: #545f66;
    text-align: center;
    margin-top: 4.5em;
}

.sociallinks:hover {
    color: white;
}

.socialcontent {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}
.divCircles {
	padding: 0;
}
