div.scrollmenu {
  position: inherit;
  margin-top: 4%;
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
}
p {
  padding-left: 5%;
  display: inline-grid;
  overflow: scroll;
  color: #545f66;
  font-family: 'Poiret One';
  opacity: .9;
}
div.summary {
    margin-left: 17%;
}
#name {
    font-size: 21px;
}
.story {
  padding: 0;
}
.col-md-7 {
  padding: 0;
}
.element {
    display: inline-block;
    background-color: #312d2d;
    color: white;
    width: 30%;
    opacity: .9;
    height: 300px;
    text-align: justify;
    shape-inside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    shape-padding: 20px;
    animation-name: move;
    transition: all 5s ease;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  .element:hover {
    transition: all 1s ease;
    opacity: 1;
  }

.info_btn {
    background: white;
    border: none;
    color: #353535;
    border: 1px solid #353535;
    width: 85%;
    padding: 2.5%;
    font-family: 'Poiret One';
    border-top: none;
    font-variant: unicase;
    letter-spacing: 1.5px;
}

.info_btn:hover {
    color: white;
    background: #353535;
}

.shortstory {
  border-top: 3px solid #EFD7D7;
  width: 100%;
}
.story h1, .shortstory h1 {
  letter-spacing: 5px;
}
.below {
  padding-bottom: 2%;
}
.story p, h1{
  font-family: 'Poiret One';
  color: #5a656b;
  padding: 0 15%;
  text-align: center;
}
.story p {
  padding: 1% 10%;
  text-align: right;
}
.story h1 {
  padding: 2% 10%;
}
.shortstory p, h1 {
  font-family: 'Poiret One';
  color: #5a656b;
  text-align: left;
}
.shortstory h1 {
  padding-left: 30%;
  padding-left: 46%;
}
div.thumbnail img {
  height: 250px;
  margin: 0;
  width: 100%;
}
.height {
  height: 140px;
}
.height p {
  color: black;
  padding: 20% 30%;
  letter-spacing: 2px;
  text-align: center;
}
.skills {
  padding: 0 5% 0 0;
  margin-top: 8%;
}
.bl2 {
  background: #EFD7D7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    font-family: 'Poiret One';
}

.modal-content p {
    font-family: Bad Script;
    letter-spacing: 1px;
}

.modal-content li {
    margin-left: 1em;
}

.modal-content a {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.linkz {
    font-size: 30px;
    color: #e8c7c6;
    text-align: center;
}
.linkz:hover {
    color: #545f66;
}
